In [98]:
import matplotlib.pyplot as plt
import modin.pandas as pd
import seaborn as sns
import numpy as np
import warnings

warnings.filterwarnings("ignore")
%matplotlib inline

#### Load Dataset

In [2]:
df = pd.read_csv("C:/Users/panos/Desktop/official statistics ex1/delayedflights/DelayedFlights.csv").drop('Unnamed: 0',axis=1)

In [3]:
df.columns

Index(['Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime', 'CRSDepTime',
       'ArrTime', 'CRSArrTime', 'UniqueCarrier', 'FlightNum', 'TailNum',
       'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay',
       'DepDelay', 'Origin', 'Dest', 'Distance', 'TaxiIn', 'TaxiOut',
       'Cancelled', 'CancellationCode', 'Diverted', 'CarrierDelay',
       'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay'],
      dtype='object')

#### Ερώτηση 1:να βρείτε (αν υπάρχουν) και να εμφανίσετε το πλήθος των κενών γραμμών σε κάθε στήλη του dataset

In [10]:
df[df.isnull().any(axis=1)]

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,...,4.0,8.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,...,5.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,628.0,620,804.0,750,WN,448,...,3.0,17.0,0,N,0,NaN,NaN,NaN,NaN,NaN
4,2008,1,3,4,1940.0,1915,2121.0,2110,WN,378,...,4.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
6,2008,1,3,4,706.0,700,916.0,915,WN,100,...,5.0,19.0,0,N,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1936739,2008,12,13,6,1100.0,1045,1350.0,1347,DL,1530,...,7.0,12.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1936740,2008,12,13,6,1200.0,1150,1924.0,1921,DL,1538,...,11.0,15.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1936750,2008,12,13,6,1531.0,1522,1822.0,1823,DL,1612,...,9.0,14.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1936756,2008,12,13,6,1251.0,1240,1446.0,1437,DL,1639,...,13.0,13.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1936757,2008,12,13,6,1110.0,1103,1413.0,1418,DL,1641,...,8.0,11.0,0,N,0,NaN,NaN,NaN,NaN,NaN

#### Ερώτηση 2:να υπολογίσετε και να εμφανίσετε ποια ημέρα σε ποιον μήνα σημειώθηκαν οι περισσότερες καθυστερήσεις πτήσεων

In [4]:
df.sort_values(by=["DepDelay"]).loc[["Month","DayofMonth","DepDelay"]].dropna().head()

         Month  DayofMonth  DepDelay
60916        1          21       6.0
904818       6          19       6.0
1431915      9           9       6.0
147855       1          18       6.0
555175       3          25       6.0

#### Ερώτηση 3: να υπολογίσετε και να εμφανίσετε τον ημερήσιο μέσο όρο καθυστερήσεων για καθέναν από τους θερινούς μήνες του 2008

In [5]:
summer_months = [5,6,7,8]
for m in summer_months:
    days_of_month = np.unique(df.loc[df["Month"]==m].loc["DayofMonth"])
    for d in days_of_month:
        print("Departure Delay for day %.f  of month %.f: %.4f"%(d,m,df.loc[(df["Month"]==m) & (df["DayofMonth"]==d)].loc[["DepDelay"]].mean()))

Departure Delay for day 1  of month 5: 33.7128
Departure Delay for day 2  of month 5: 60.2859
Departure Delay for day 3  of month 5: 37.4444
Departure Delay for day 4  of month 5: 35.8835
Departure Delay for day 5  of month 5: 35.6033
Departure Delay for day 6  of month 5: 34.1905
Departure Delay for day 7  of month 5: 37.0527
Departure Delay for day 8  of month 5: 32.1438
Departure Delay for day 9  of month 5: 41.4769
Departure Delay for day 10  of month 5: 29.5868
Departure Delay for day 11  of month 5: 39.9138
Departure Delay for day 12  of month 5: 42.7885
Departure Delay for day 13  of month 5: 31.5885
Departure Delay for day 14  of month 5: 36.2448
Departure Delay for day 15  of month 5: 30.6674
Departure Delay for day 16  of month 5: 43.3566
Departure Delay for day 17  of month 5: 31.6660
Departure Delay for day 18  of month 5: 37.7413
Departure Delay for day 19  of month 5: 34.3894
Departure Delay for day 20  of month 5: 44.3270
Departure Delay for day 21  of month 5: 31.6972
Departure Delay for day 22  of month 5: 39.8920
Departure Delay for day 23  of month 5: 34.6066
Departure Delay for day 24  of month 5: 31.7312
Departure Delay for day 25  of month 5: 33.6195
Departure Delay for day 26  of month 5: 33.8258
Departure Delay for day 27  of month 5: 61.1948
Departure Delay for day 28  of month 5: 31.8095
Departure Delay for day 29  of month 5: 31.5414
Departure Delay for day 30  of month 5: 44.1754
Departure Delay for day 31  of month 5: 50.5209
Departure Delay for day 1  of month 6: 36.0546
Departure Delay for day 2  of month 6: 32.6019
Departure Delay for day 3  of month 6: 46.4595
Departure Delay for day 4  of month 6: 53.9205
Departure Delay for day 5  of month 6: 44.1945
Departure Delay for day 6  of month 6: 48.6142
Departure Delay for day 7  of month 6: 41.4813
Departure Delay for day 8  of month 6: 59.1451
Departure Delay for day 9  of month 6: 46.3187
Departure Delay for day 10  of month 6: 48.7587
Departure Delay for day 11  of month 6: 37.3871
Departure Delay for day 12  of month 6: 35.8044
Departure Delay for day 13  of month 6: 45.4393
Departure Delay for day 14  of month 6: 45.9119
Departure Delay for day 15  of month 6: 48.8636
Departure Delay for day 16  of month 6: 55.3491
Departure Delay for day 17  of month 6: 40.4150
Departure Delay for day 18  of month 6: 42.5522
Departure Delay for day 19  of month 6: 47.2818
Departure Delay for day 20  of month 6: 37.5443
Departure Delay for day 21  of month 6: 39.9847
Departure Delay for day 22  of month 6: 55.9837
Departure Delay for day 23  of month 6: 48.4560
Departure Delay for day 24  of month 6: 39.4242
Departure Delay for day 25  of month 6: 40.4389
Departure Delay for day 26  of month 6: 53.7702
Departure Delay for day 27  of month 6: 45.1308
Departure Delay for day 28  of month 6: 43.5060
Departure Delay for day 29  of month 6: 56.4884
Departure Delay for day 30  of month 6: 36.2656
Departure Delay for day 1  of month 7: 33.1905
Departure Delay for day 2  of month 7: 47.4921
Departure Delay for day 3  of month 7: 35.5450
Departure Delay for day 4  of month 7: 36.3193
Departure Delay for day 5  of month 7: 38.2315
Departure Delay for day 6  of month 7: 60.5389
Departure Delay for day 7  of month 7: 45.2556
Departure Delay for day 8  of month 7: 51.2866
Departure Delay for day 9  of month 7: 46.2563
Departure Delay for day 10  of month 7: 64.1151
Departure Delay for day 11  of month 7: 36.9308
Departure Delay for day 12  of month 7: 37.7914
Departure Delay for day 13  of month 7: 76.2622
Departure Delay for day 14  of month 7: 39.0578
Departure Delay for day 15  of month 7: 38.9155
Departure Delay for day 16  of month 7: 35.0024
Departure Delay for day 17  of month 7: 36.3503
Departure Delay for day 18  of month 7: 40.4235
Departure Delay for day 19  of month 7: 36.8802
Departure Delay for day 20  of month 7: 48.3388
Departure Delay for day 21  of month 7: 39.0829
Departure Delay for day 22  of month 7: 46.5371
Departure Delay for day 23  of month 7: 61.5213
Departure Delay for day 24  of month 7: 51.0459
Departure Delay for day 25  of month 7: 38.2571
Departure Delay for day 26  of month 7: 37.0522
Departure Delay for day 27  of month 7: 68.2565
Departure Delay for day 28  of month 7: 40.8364
Departure Delay for day 29  of month 7: 43.0597
Departure Delay for day 30  of month 7: 38.8682
Departure Delay for day 31  of month 7: 58.4556
Departure Delay for day 1  of month 8: 39.3560
Departure Delay for day 2  of month 8: 53.6355
Departure Delay for day 3  of month 8: 38.8992
Departure Delay for day 4  of month 8: 56.9261
Departure Delay for day 5  of month 8: 43.4832
Departure Delay for day 6  of month 8: 38.7824
Departure Delay for day 7  of month 8: 49.7374
Departure Delay for day 8  of month 8: 45.4270
Departure Delay for day 9  of month 8: 35.3736
Departure Delay for day 10  of month 8: 60.7885
Departure Delay for day 11  of month 8: 59.6301
Departure Delay for day 12  of month 8: 36.9522
Departure Delay for day 13  of month 8: 36.9120
Departure Delay for day 14  of month 8: 54.7737
Departure Delay for day 15  of month 8: 54.3164
Departure Delay for day 16  of month 8: 42.1825
Departure Delay for day 17  of month 8: 35.7932
Departure Delay for day 18  of month 8: 37.0366
Departure Delay for day 19  of month 8: 34.3023
Departure Delay for day 20  of month 8: 40.5891
Departure Delay for day 21  of month 8: 43.9135
Departure Delay for day 22  of month 8: 38.4066
Departure Delay for day 23  of month 8: 35.1159
Departure Delay for day 24  of month 8: 32.9331
Departure Delay for day 25  of month 8: 48.2588
Departure Delay for day 26  of month 8: 47.7831
Departure Delay for day 27  of month 8: 32.6840
Departure Delay for day 28  of month 8: 33.6312
Departure Delay for day 29  of month 8: 36.9272
Departure Delay for day 30  of month 8: 32.0336
Departure Delay for day 31  of month 8: 32.1714

#### Ερώτηση 4: να υπολογίσετε και να εμφανίσετε το όνομα της αεροπορικής εταιρίας που είχε το μεγαλύτερο πλήθος κωδικών ακύρωσης τύπου Β

In [37]:
df[df.loc["CancellationCode"] == "B"].loc[["UniqueCarrier","CancellationCode"]].groupby("UniqueCarrier").count().idxmax()

CancellationCode    MQ
dtype: object

#### Ερώτηση 5: να βρείτε τους κωδικούς των πτήσεων με τον μεγαλύτερο αριθμό καθυστερήσεων

In [6]:
df.sort_values(by=["DepDelay"],ascending=False).loc["FlightNum"]

686014     1699
322516      808
839306     1107
1009553    3538
1881639     357
           ...
1276068    2250
1276056    2657
596596     3515
1276055    1253
1364282     417
Name: FlightNum, Length: 1936758, dtype: int64

#### Ερώτηση 6: να βρείτε και να υπολογίσετε το όνομα του μεγαλύτερου σε απόσταση προορισμού με τις περισσότερες καθυστερήσεις

In [54]:
df.sort_values(by=["Distance","ArrDelay"],ascending=[False,False]).loc[["ArrDelay","Distance"]].iloc[0]

ArrDelay     662.0
Distance    4962.0
Name: 178838, dtype: float64

#### Ερώτηση 7: να βρείτε και να εμφανίσετε τους προορισμούς που είχαν την μεγαλύτερη καθυστέρηση (πτήσεις που εκτελέστηκαν)

In [7]:
df[df.loc["Cancelled"]==0].sort_values(by=["DepDelay"],ascending=False).loc["Origin"].head()

686014     CLT
322516     HNL
839306     RSW
1009553    LIT
1881639    BOS
Name: Origin, dtype: object

#### Ερώτηση 8: να βρείτε και να εμφανίσετε το όνομα της αεροπορικής εταιρείας που είχε τις μεγαλύτερες καθυστερήσεις που οφείλονται σε καθυστερημένη άφιξη αεροσκαφών

In [15]:
print("Carrier with most delays due to aircraft delay : %s " %df.sort_values(by = ["LateAircraftDelay"],ascending=False).loc["UniqueCarrier"].values[0])

Carrier with most delays due to aircraft delay : AA

#### Ερώτηση 9: να υπολογίσετε πόσες ακυρώσεις πτήσεων τύπου Α σημειώθηκαν την 13η ημέρα κάθε μήνα

In [48]:
for m in np.unique(df["Month"].values):
    count = df.loc[(df["Cancelled"]==1) & (df["DayofMonth"]==13) & (df["CancellationCode"] == "A") & (df["Month"]==m)]
    print("In month %.f %.f type A flights were cancelled on Day %.f" %(m,count.shape[0],13))

UserWarning: Distributing <class 'NoneType'> object. This may take some time.

In month 1 0 type A flights were cancelled on Day 13
In month 2 0 type A flights were cancelled on Day 13
In month 3 0 type A flights were cancelled on Day 13
In month 4 0 type A flights were cancelled on Day 13
In month 5 0 type A flights were cancelled on Day 13
In month 6 0 type A flights were cancelled on Day 13
In month 7 0 type A flights were cancelled on Day 13
In month 8 0 type A flights were cancelled on Day 13
In month 9 0 type A flights were cancelled on Day 13
In month 10 0 type A flights were cancelled on Day 13
In month 11 2 type A flights were cancelled on Day 13
In month 12 3 type A flights were cancelled on Day 13

#### Ερώτηση 10: υπολογίσετε και να εμφανίσετε την μέση καθυστέρηση πτήσεων που εκτελέστηκαν από την 10η μέχρι την 23 Απριλίου 2008

In [54]:
print("Average delay between April 10 and April 23 %.4f minutes" %df.loc[(df["Month"]==4) & (df["DayofMonth"]>9) & (df["DayofMonth"]<24)].loc[["ArrDelay"]].mean())

Average delay between April 10 and April 23 35.4506 minutes

#### Ερώτηση 11: να υπολογίσετε και να εμφανίσετε τον μήνα που σημειώθηκε η μεγαλύτερη καθυστέρηση που οφειλόταν σε έλεγχους ασφαλείας κατά τις ώρες 06.00-14.00

In [138]:
s = df.loc[df.loc[(df["ArrTime"] > 600) & (df["ArrTime"]<1400)].loc["SecurityDelay"].dropna().idxmax()]["Month"]
print("Month with biggest delay due to security check : %.f " %s)

Month with biggest delay due to security check : 7

#### Ερώτηση 12: να υπολογίσετε και να εμφανίσετε ποιος κωδικός πτήσης(αριθμός πτήσης) είχε το πρώτο δεκαήμερο του Νοεμβρίου του 2008 την μεγαλύτερη προ του αναμενόμενου χρόνου άφιξη στον προορισμό της

In [51]:
df.loc[(df["DayofMonth"] <11) & (df["Month"]==11)].loc[["ArrDelay"]].sort_values(by=["ArrDelay"],ascending=True).head()

         ArrDelay
1731259     -56.0
1715798     -45.0
1721619     -44.0
1712499     -44.0
1628473     -43.0

In [60]:
idx = df.loc[(df["DayofMonth"] <11) & (df["Month"]==11)].loc[["ArrDelay"]].sort_values(by=["ArrDelay"],ascending=True).head().idxmin()
numflight = df.loc[idx]["FlightNum"]
print("Number of flight with earlier departure : %.f" %numflight)

Number of flight with earlier departure : 95

#### Ερώτηση 13: να υπολογίσετε και να εμφανίσετε ποιο αεροδρόμιο (τοποθεσία αναχώρησης) είχε το δεύτερο δεκαήμερο του Αυγούστου 2018 τις περισσότερες πτήσεις με καθυστέρηση(αναχωρίσεων) μεγαλύτερη από μισή ώρα που οφείλονται στους αερομεταφορείς

In [79]:
df.loc[(df["DayofMonth"]<20) & (df["DayofMonth"]>10)& (df["Month"]==8) & (df["LateAircraftDelay"]>30)].loc[["UniqueCarrier","LateAircraftDelay"]].groupby("UniqueCarrier").count().sort_values(by="LateAircraftDelay",ascending=False).idxmax()

LateAircraftDelay    WN
dtype: object

#### Ερώτηση 14: να βρείτε και να εμφανίσετε τις πτήσεις που εκτράπηκαν από την πορεία τους αλλά ολοκληρώθηκαν καθώς και τον συνολικό χρόνο που απαιτήθηκε

In [102]:
(df.loc[df["Diverted"]==1]["DepTime"] - df.loc[df["Diverted"]==1]["ArrTime"]).dropna()

distributed.scheduler - ERROR - Workers don't have promised key: ['tcp://127.0.0.1:50048'], apply_list_of_funcs-c5b95eb9710621316885f8b418d4579c
NoneType: None
distributed.client - WARNING - Couldn't gather 1 keys, rescheduling {'apply_list_of_funcs-c5b95eb9710621316885f8b418d4579c': ('tcp://127.0.0.1:50048',)}

1524962    -368.0
1525257    -324.0
1525408    -360.0
1525811    -513.0
1526316    -420.0
            ...
1934369    1899.0
1934921    1935.0
1935596    -439.0
1935716    1348.0
1935978    -579.0
Length: 1277, dtype: float64

#### Ερώτηση 15: ποιος μήνας είχε την μεγαλύτερη τυπική απόκλιση σε καθυστερήσεις ("πιο απρόβλεπτος μήνας"). Ως απόκλιση να θεωρηθεί η διαφορά ανάμεσα στον προγραμματισμένο και τον πραγματικό χρόνο εκτέλεσης της πτήσης

In [126]:
vals = {}
for i in np.unique(df["Month"]):
    s = np.ravel(pd.DataFrame(df.loc[df["Month"]==i].loc["CRSArrTime"] - df.loc[df["Month"]==i].loc["ArrTime"]).dropna().values)
    vals[i] = s.var()
## finding the maximum value   
values = list(vals.values())
max_val = max(values)
for key in vals.keys():
    if vals[key] == max_val:
        print("Maximum variance at month %.f" %key)

Maximum variance at month 7

In [ ]:
## End ##